# indexing

In [ ]:
1. Positive Indexing: its start from 0 left to right

2. Negative indexing: its start from -1 from right to left

In [1]:
name = ["Noman", "Ahsan", "Raza"]

In [2]:
name

['Noman', 'Ahsan', 'Raza']

In [3]:
marks = [93, 98, 98, 98]

In [4]:
marks

[93, 98, 98, 98]

In [7]:
msg = name[0] + " Secured " + str(marks[2]) + " marks "

In [8]:
msg

'Noman Secured 98 marks '

In [9]:
name = ["Noman", "Ahsan", "Raza", "Razaq", "Ahsan", "Rizwan", "Atif"]
name

['Noman', 'Ahsan', 'Raza', 'Razaq', 'Ahsan', 'Rizwan', 'Atif']

In [10]:
msg = name[5] + " Secured " + str(marks[2]) + " marks "

In [11]:
msg

'Rizwan Secured 98 marks '

# Slicing

In [12]:
name[1:]

['Ahsan', 'Raza', 'Razaq', 'Ahsan', 'Rizwan', 'Atif']

In [13]:
name[:-2]

['Noman', 'Ahsan', 'Raza', 'Razaq', 'Ahsan']

In [14]:
name[3:]

['Razaq', 'Ahsan', 'Rizwan', 'Atif']

In [15]:
name

['Noman', 'Ahsan', 'Raza', 'Razaq', 'Ahsan', 'Rizwan', 'Atif']

In [16]:
name[:-4]

['Noman', 'Ahsan', 'Raza']

In [17]:
name[:]

['Noman', 'Ahsan', 'Raza', 'Razaq', 'Ahsan', 'Rizwan', 'Atif']

In [18]:
name[1:-3]

['Ahsan', 'Raza', 'Razaq']

In [23]:
name[6:]

['Atif']

In [24]:
name[3:-3]

['Razaq']

In [25]:
del name[3]

In [26]:
name

['Noman', 'Ahsan', 'Raza', 'Ahsan', 'Rizwan', 'Atif']

In [28]:
variable1 = "Noman"
print(variable1)

Noman

In [31]:
name1 = ["Noman", "Razaq", "ihdasui"]

In [32]:
name.append(name1)

In [33]:
name

['Noman',
 'Ahsan',
 'Raza',
 'Ahsan',
 'Rizwan',
 'Atif',
 ['Noman', 'Razaq', 'ihdasui']]

In [34]:
name1 = ["ihdasui"]

In [35]:
name.append(name1)

In [36]:
name

['Noman',
 'Ahsan',
 'Raza',
 'Ahsan',
 'Rizwan',
 'Atif',
 ['Noman', 'Razaq', 'ihdasui'],
 ['ihdasui']]

In [37]:
name

['Noman',
 'Ahsan',
 'Raza',
 'Ahsan',
 'Rizwan',
 'Atif',
 ['Noman', 'Razaq', 'ihdasui'],
 ['ihdasui']]

In [39]:
name

['Noman', 'Ahsan', 'Raza', 'Ahsan', 'Rizwan', 'Atif', ['ihdasui']]

In [40]:
name1 = ["Noman", "Razaq", "ihdasui"]

In [41]:
name.append(name1)

In [42]:
name

['Noman',
 'Ahsan',
 'Raza',
 'Ahsan',
 'Rizwan',
 'Atif',
 ['ihdasui'],
 ['Noman', 'Razaq', 'ihdasui']]

In [43]:
del name[7][1]

In [44]:
name

['Noman',
 'Ahsan',
 'Raza',
 'Ahsan',
 'Rizwan',
 'Atif',
 ['ihdasui'],
 ['Noman', 'ihdasui']]

In [45]:
del name[7][0]

In [46]:
print(name)

['Noman', 'Ahsan', 'Raza', 'Ahsan', 'Rizwan', 'Atif', ['ihdasui'], ['ihdasui']]

In [47]:
if 2==2:
    print("ok")
else:
    print("You are wrong")

ok

In [48]:
if 2==3:
    print("ok")
else:
    print("You are wrong")

You are wrong

In [49]:
if 2==2.0:
    print("ok")
else:
    print("You are wrong")

ok

In [50]:
2==2.0

True

In [51]:
3.0 ==3

True

In [53]:
3.001 == 3.0

False

In [54]:
0.3 == 3

False

# Login System

In [55]:
username = "Usama"
password = 123

In [56]:
username

'Usama'

In [58]:
password

123

In [65]:
if username == "Usama":
    if password == 23:
        print("Login Successful")
    else:
        print("wrong Password")
else:
        print("Invalid user")

wrong Password

In [68]:
if username.lower() == "Usama":
    print("Correct Username") 
else:
    print("wrong")

wrong

In [69]:
True or False

True

In [70]:
False or True

True

In [71]:
marks = 85

In [72]:
marks

85

In [74]:
if marks > 90:
    print("A Grade")
elif marks > 80:
    print("B Grade")
elif marks > 70:
    print("C+ Grade")
elif marks > 60:
    print("C Grade")
elif marks > 50:
    print("D Grade")
else:
    print("F Grade")

B Grade

In [75]:
marks = 49
if marks > 90:
    print("A Grade")
elif marks > 80:
    print("B Grade")
elif marks > 70:
    print("C+ Grade")
elif marks > 60:
    print("C Grade")
elif marks > 50:
    print("D Grade")
else:
    print("F Grade")

F Grade